<html>
<head>
<title>张天才科技-分数查询</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="https://yss-1253784481.cossh.myqcloud.com/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<style>
	.brand
    	{
    	 color:#68c7f9;
 		 text-decoration:none;
    	}
</style>
<head>
<body style='text-align:left;background-color:#f4f4f4;'>

 <div  style="width:100%;background:#fff;padding-top:15px;">
    
      <div   style="">
        <div    style="padding-left:10px;padding-bottom:15px;">
         
          <a class="brand" href="#">分数查询</a>
          <small style="color:#ddd;">张天才科技</small>
          
          
        </div>
      </div>
    </div>
    <div style="width:98%;height:1px;background:#ddd;"></div>
<br>
  
  <div style='padding:66px  25px 0;'><br><br><form  id='f' method = 'post' action='login' class='bs-example bs-example-form' role='form'>
  <div class='input-group'>
			<span class='input-group-addon'>学&nbsp;&nbsp;&nbsp;&nbsp;号</span>
  <input class='form-control' name='u' type='text'/></div><br>
  <div class='input-group'>
			<span class='input-group-addon'>密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
  <input name='p' class='form-control' type='password'/></div><br>
  <button type='submit' class='btn btn-info btn-block'>登录</button>
  </form>  </div> 

<body>
</html>